html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
}

// containerのcss

.container {
  margin: 5% 10%;
}

.container-left {
  margin-left: 10%;
}

.container-right {
  margin-right: 10%;
}

/////////////////////////////////////////////////////////////////////////////////
