html,
body {
  font-family: YakuHanRP, fot-tsukuardgothic-std, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    Meiryo, "メイリオ", Osaka, "MS PGothic", arial, helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
}

// containerのcss

@mixin container {
  margin: 5% 10%;
}

@mixin container-left {
  margin: 5% 0 5% 10%;
}

@mixin container-right {
  margin: 5% 10% 5% 0;
}

@mixin container-header {
  margin: 0 10% 5% 10%;
}

@mixin container-footer {
  margin: 5% 10% 0 10%;
}

/////////////////////////////////////////////////////////////////////////////////
