// fontのmixin ////////////////////////////////////////////////////////////////
// (bodyにfont-size:62.5%;をつけたら,1em=10px)//////////////////////////////////

@mixin regular {
  // font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin medium {
  // font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin bold {
  // font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 800;
  font-style: normal;
}

///////////////////////////////////////////////////////////////////(fontのmixin)
