// display-flexで逆向きに並べたい場合/////////////////////////////////////////////

@mixin row-reverse {
  flex-direction: row-reverse;
}

/////////////////////////////////////////////////////////////////////////////////

// containerのcss

@mixin container {
  margin: 5% 10%;
}

@mixin container-padding {
  margin: 0 10%;
  padding: 5% 0;
}

@mixin container-top {
  margin: 0 0 5% 10%;
}

@mixin container-left {
  margin: 5% 0 5% 10%;
}

@mixin container-right {
  margin: 5% 10% 5% 0;
}

@mixin container-header {
  margin: 0 10% 0 10%;
}

@mixin container-footer {
  margin: 0 10% 0 10%;
  padding: 5% 0 2% 0;
}

@mixin heading-bottom {
  margin-bottom: 5%;
}

// heading,title以外
@mixin text-between {
  margin: 0.65em 0 0.5em;
}

@mixin btn {
  margin-top: 4%;
  font-family: -apple-system, BlinkMacSystemFont, MyYuGothicM, "Yu Gothic", Meiryo, "Hiragino kaku Gothic ProN",
    sans-serif;
  font-size: 3.5em;
  padding: 1% 4%;
}

// 模擬要素 headingの上に線をつけるコード

@mixin heading-before-line {
  content: "";
  width: 45px;
  height: 1%;
  border-top: 2px solid #12adfc;
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 0;
}

// 模擬要素 leadの左横に線をつけるコード

@mixin lead-before-line {
  content: "";
  height: 21px;
  border-left: 1px solid #12adfc;
  display: inline-block;
  position: absolute;
  top: 19%;
  left: -4px;
}
