html,
body {
  font-family: -apple-system, BlinkMacSystemFont, MyYuGothicM, "Yu Gothic", Meiryo, "Hiragino kaku Gothic ProN",
    sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}

// containerのcss

@mixin container {
  margin: 5% 10%;
}

@mixin container-top {
  margin: 0 0 5% 10%;
}

@mixin container-left {
  margin: 5% 0 5% 10%;
}

@mixin container-right {
  margin: 5% 10% 5% 0;
}

@mixin container-header {
  margin: 0 10% 0 10%;
}

@mixin container-footer {
  margin: 5% 10% 0 10%;
}

/////////////////////////////////////////////////////////////////////////////////
