html,
body {
  font-family: -apple-system, BlinkMacSystemFont, MyYuGothicM, "Yu Gothic", Meiryo, "Hiragino kaku Gothic ProN",
    sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 2;
}
* {
  box-sizing: border-box;
}
