.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include container-left();
  &-left {
    width: 55%;
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-text {
    @include text();
    @include text-between();
  }
  &-content {
    @include font22();
    @include text-between();
  }
  &-btn {
    margin-left: 30%;
    @include btn();
  }
  &-right {
    width: 40%;
  }
}

.service {
  background-color: #fff;
  @include container-padding();
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-mask {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-card {
    width: 29%;
  }
  &-image {
    width: 25%;
    margin: 0 auto 15% auto;
  }
  &-lead {
    line-height: 1;
    border-left: 2px solid #12adfc;
    padding-left: 2.7%;
    font-weight: 500;
    @include font30();
    @include text-between();
  }
  &-detail {
    @include font24();
    @include text-between();
  }
  &-btn {
    @include btn-border-none();
    padding: 0;
    font-size: 1.4em;
    width: 12.1%;
    margin: 4% auto 0 auto;
  }
}

.shopify {
  @include container-left();
  &-mask {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    width: 40%;
    padding: 3% 3% 3% 0;
    position: relative;
    background-color: #fff;
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-text {
    @include text();
    @include text-between();
  }
  &-content {
    @include font22();
    @include text-between();
  }
  &-btn {
    @include btn-border-none();
  }
  &-right {
    width: 60%;
    position: absolute;
    z-index: -1;
    right: 0;
  }
}

.news {
  background-color: #fff;
  @include container-padding();
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &-card {
    width: 30%;
    height: auto;
    padding: 2%;
  }
  &-image {
  }
  &-time {
    @include font14();
    @include text-between();
  }
  &-title {
    margin: 0;
    @include font22();
  }
  .css-bhp9pd-MuiPaper-root-MuiCard-root {
    box-shadow: none;
  }
}

.strategy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include container();
  &-left {
    width: 55%;
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-text {
    @include text();
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4% 0;
  }
  &-thumb {
    width: 17%;
    background-color: #fff;
    border: 1px solid #1212;
    border-radius: 50%;
  }
  &-mask {
    width: 79%;
  }
  &-lead {
    @include font30();
  }
  &-detail {
    @include font22();
  }
  &-right {
    border-radius: 40px;
    width: 40%;
  }
}
