.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include container-left();
  &-left {
    width: 55%;
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-text {
    @include font28();
    letter-spacing: 0.05em;
    @include text-between();
  }
  &-content {
    @include font22();
    @include text-between();
  }
  &-btn {
    margin-left: 30%;
    @include btn();
  }
  &-right {
    width: 40%;
  }
}

.service {
  background-color: #fff;
  &-container {
    @include container-padding();
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-mask {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-card {
    width: 29%;
  }
  &-image {
    width: 25%;
    margin: 0 auto 15% auto;
    // border: 1px solid #000;
    // border-radius: 50%;
    // padding: 14%;
  }
  &-lead {
    line-height: 1;
    border-left: 2px solid #12adfc;
    padding-left: 2.7%;
    font-weight: 500;
    @include font30();
    @include text-between();
  }
  &-detail {
    @include font24();
    @include text-between();
  }
}

.shopify {
  @include container-left();
  &-mask {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    width: 40%;
    padding: 3% 3% 3% 0;
    position: relative;
    background-color: #fff;
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-text {
    @include font32();
    font-weight: 600;
    letter-spacing: 0.05em;
    @include text-between();
  }
  &-content {
    @include font22();
    @include text-between();
  }
  &-btn {
    @include btn();
    color: #12adfc;
    font-size: 2.5em;
    border-bottom: 1px solid;
    border-radius: initial;
  }
  &-right {
    width: 60%;
    position: absolute;
    z-index: -1;
    right: 0;
  }
}

.news {
  background-color: #fff;
  &-container {
    @include container-padding();
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-card {
    width: 32%;
    height: auto;
    padding: 1.5%;
    background-color: #f2f2f2;
  }
  &-image {
    border-radius: 5px;
  }
  &-title {
    margin: 0;
    @include font46();
  }
  &-time {
    @include font20();
    @include text-between();
  }
  &-text {
    @include font26();
  }
  &-btn {
    @include btn();
    @include font28();
    margin: 0;
  }
}

.strategy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include container();
  &-left {
    width: 55%;
  }
  &-heading {
    @include section-heading();
    &::before {
      @include heading-before-line();
    }
    &-sub {
      @include heading-bottom();
      @include section-heading-sub();
    }
  }
  &-text {
    @include font36();
    letter-spacing: 0.05em;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4% 0;
  }
  &-thumb {
    width: 17%;
    background-color: #fff;
    border: 1px solid #1212;
    border-radius: 50%;
  }
  &-mask {
    width: 79%;
  }
  &-lead {
    @include font30();
  }
  &-detail {
    @include font22();
  }
  &-right {
    border-radius: 40px;
    width: 40%;
  }
}
