.top {
  background-color: #fff;
  &-container {
    @include container-top();
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
  }
  &-left {
    width: 30%;
  }
  &-heading {
    line-height: 1.5;
    @include font78();
  }
  &-span {
    color: #12adfc;
  }
  &-text {
    margin-bottom: 4%;
    @include font28();
  }
  &-btn {
    width: 70%;
    padding: 2% 0;
    @include font30();
  }
  &-right {
    width: 65%;
  }
}
