.header {
  @include container-header();
  &-logo {
    width: 13%;
  }
  &-nav {
    &-list {
      margin: 0 7%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-item {
  }
}
