.header {
  @include container-header();
  &-logo {
    width: 13%;
  }
  &-nav {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.6em;
    }
  }
  &-item {
  }
}

.MuiMenu-list {
  display: flex;
  flex-flow: column;
  font-size: 1.4em;
}

.MuiButton-text {
  padding: 6px 16px;
  font-size: 1.6em;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, MyYuGothicM, "Yu Gothic", Meiryo, "Hiragino kaku Gothic ProN",
    sans-serif;
}

.MuiButton-containedPrimary {
  font-size: 1.6em;
  color: #fff;
  background-color: #3f51b5;
}
